<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
</head>

<body>
<div class="body"></div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="">Cars</a></li>
  <li role="presentation"><a href="/admin_user/members/">Members</a></li>
</ul>
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
</script>
{% if requested.0 == 1 %}
<div class="date">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit"  />
    </form>
</div>
{% endif %}
<div class="container">
  <h2>All Reservations for {{ date }}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Member Number</th>
          <th>Vin Number</th>
          <th>Reservation Number</th>
        <th>Pick Up Date</th>
        <th>Drop Off Date</th>
        <th>Access Code</th>
      </tr>
    </thead>
    <tbody>
    {% for reservation in all_reservations %}
      <tr>
        <td>{{ reservation.2 }}</td>
        <td>{{ reservation.1 }}</td>
        <td>{{ reservation.0 }}</td>
        <td>{{ reservation.3 }}</td>
        <td>{{ reservation.5 }}</td>
        <td>{{ reservation.4 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>